- var list = ["Today Special Offers", "Why FoodHut", "Our Menu", "Our Popular Food"];

nav.nav.mr-auto.h-auto
  input.toggle-menu(type="checkbox")
  .icon-menu
  ul.nav-list.flex.justify-content-between.h-auto.w-auto
    each val in list
      li.nav-item
        a.nav-link.no-underline(href="javascrip:void(0)")= val
a.btn.nav-download-btn.no-underline(href="javascript:void(0)") Download App
