.link-text {
  font-size: $fs-md;
  color: $black;
  text-decoration: none;
}

.primary-text {
  color: $primary-color;
}

.secondary-text {
  color: $secondary-color;
}

* {
  line-height: normal;
}
