.flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.mr-auto {
  margin: auto;
}

.h-auto {
  height: auto;
}

.w-auto {
  width: auto;
}

.no-underline {
  text-decoration: none;
}
