$font-path: "../assets/fonts";

@font-face {
  src: url("#{$font-path}/sofia-pro-regular.woff2") format("woff2");
  font-family: "Sofia Pro";
}

@font-face {
  src: url("#{$font-path}/inter-regular.woff2") format("woff2");
  font-family: "Inter";
}

* {
  font-family: $primary-font;
}
