.offer {
  position: relative;
  margin-inline: auto;

  &__container {
    @extend %d-flex;
    @include flex-layout($justify: center, $direction: column);

    max-width: 380px;
    margin: auto;
    padding-top: 90px;
    position: relative;
  }

  &__dot-background {
    @extend %absolute;
    @include set-location($top: 168px, $left: 0);

    display: none;
  }

  &__heading {
    font-size: $fs-xx-lg;
    text-align: center;
    font-weight: 700;
  }

  &__description {
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
    color: $black;
    margin-top: 22px;
    max-width: 856px;
    margin-inline: auto;
  }

  &__card-list {
    @extend %d-flex;
    @include flex-layout($wrap: nowrap, $gap: 70px);

    padding-inline: 35px;
    margin-top: 65px;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__rosemary-container {
    @extend %absolute;
    @include set-location($bottom: -95px, $right: 0);

    z-index: 0;
  }
}

@media screen and (min-width: 600px) {
  .offer {
    &__container {
      max-width: unset;
    }

    &__card-list {
      @include flex-layout(
        $align: center,
        $justify: center,
        $wrap: wrap,
        $gap: 18px
      );

      row-gap: 30px;
    }

    &__description {
      padding-inline: 24px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .offer {
    &__dot-background {
      display: block;
    }

    &__container {
      padding-top: 142px;
    }

    &__description {
      margin-top: 27px;
      padding-left: 64px;
    }

    &__card-list {
      margin-top: 67px;
    }
  }
}
