.icon-menu {
  @include base-icon-menu;

  position: relative;
  cursor: pointer;

  &:before {
    @include icon-menu;

    top: -10px;
  }

  &:after {
    @include icon-menu;

    top: 10px;
  }
}

.toggle-menu {
  @extend %absolute;
  @include size(36px, 27px);

  top: 46px;
  right: 21px;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
}

.toggle-menu:checked ~ .icon-menu {
  background: transparent;
}

.toggle-menu:checked ~ .icon-menu:before {
  top: 0;
  transform: rotate(-45deg);
}

.toggle-menu:checked ~ .icon-menu:after {
  top: 0;
  transform: rotate(45deg);
}

.toggle-menu:checked ~ .nav-list {
  display: block;
}

@media screen and (min-width: 840px) {
  .icon-menu,
  .toggle-menu {
    display: none;
  }
}
