$primary-font: "Sofia Pro";
$secondary-font: "Inter";

// Color
$black: #000;
$white: #fff;
$primary-color: #f54748;
$secondary-color: #fdc55e;

// Font size
$fs-xx-sm: 14px;
$fs-x-sm: 16px;
$fs-sm: 17px;
$fs-md: 18px;
$fs-lg: 24px;
$fs-x-lg: 48px;
$fs-xx-lg: 58px;

// Size
$max-width: 1440px;
$min-width: 320px;
