@mixin base-icon-menu {
  @include size(36px, 3px);

  background: #000000;
  border-radius: 10px;
  transition: 0.3s;
}

@mixin icon-menu {
  @include base-icon-menu;

  content: "";
  position: absolute;
  right: 0;
}

@mixin d-flex {
  display: flex;
}

@mixin flex-justify-center-col {
  @include d-flex;

  justify-content: center;
  flex-direction: column;
}

@mixin flex-align-center {
  @include d-flex;

  align-items: center;
}

@mixin flex-between {
  @include d-flex;

  justify-content: space-between;
}

@mixin size($width: null, $height: null) {
  @if $width != null {
    width: $width;
  }

  @if $height != null {
    height: $height;
  }
}

@mixin set-absolute-and-location(
  $absolute: false,
  $top: null,
  $left: null,
  $right: null,
  $bottom: null
) {
  @if $absolute {
    position: absolute;
  }

  @if $top != null {
    top: $top;
  }

  @if $left != null {
    left: $left;
  }

  @if $right != null {
    right: $right;
  }

  @if $bottom != null {
    bottom: $bottom;
  }
}
