%mr-ml-auto {
  margin-inline: auto;
}

.footer {
  &__container {
    @extend %mr-ml-auto;

    padding-top: 116px;
    padding-left: 24px;
    max-width: 428px;
  }

  &__brand-name {
    font-size: $fs-x-lg;
    font-weight: 600;
  }

  &__introduction .footer__description {
    margin-top: 8px;
    max-width: 325px;
  }

  &__social-media {
    @extend %d-flex;
    @include flex-layout($gap: 30px, $align: center);
    margin-top: 22.6px;
  }

  &__social-link:first-child {
    @include size(auto, 21px);
  }

  &__social-link:nth-child(2) {
    @include size(auto, 19px);
  }

  &__social-link:nth-child(3) {
    @include size(auto, 17px);
  }

  &__information {
    @extend %d-flex;
    @include flex-layout($gap: 80px);

    padding-top: 30px;
  }

  &__heading {
    font-size: $fs-lg;
    font-weight: 600;
  }

  &__link {
    @extend %d-flex;
    @include flex-layout($direction: column, $gap: 14px);

    margin-top: 17px;
  }

  &__contact {
    padding-top: 30px;
  }

  &__contact .footer__description {
    max-width: 379px;
    color: $black;
    margin-top: 37px;
  }

  &__form {
    @extend %d-flex;
    @include flex-layout($justify: space-between, $gap: 15px, $wrap: wrap);

    max-width: 338px;
    margin-top: 27px;
  }

  &__email-input {
    @include size(178px, 48px);

    border-radius: 40px;
    padding-left: 25px;
    border: none;
    background-color: #e8e8e8;
    font-size: $fs-xx-sm;
  }

  &__submit-btn {
    @include size(118px, 50px);

    border-radius: 30px;
    color: $white;
    background-color: $primary-color;
    border: none;
    cursor: pointer;
    font-size: $fs-xx-sm;

    &:hover {
      background-color: $secondary-color;
    }
  }

  &__copyright {
    @extend %mr-ml-auto;

    font-size: $fs-x-sm;
    font-family: $secondary-font;
    margin-top: 80px;
    padding-bottom: 29px;
    text-align: center;
  }
}

@media screen and (min-width: 600px) {
  .footer {
    &__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      max-width: $max-width;
      width: auto;
      column-gap: 10px;
      padding-inline: 10px;
    }

    &__introduction {
      @include size(fit-content, fit-content);

      margin: auto 0;
      grid-row: 1 / span 2;
      max-width: 400px;
    }

    &__contact {
      grid-column: -2;
    }

    &__information {
      @include flex-layout($justify: space-between);

      max-width: 310px;
    }
  }
}

@media screen and (min-width: 840px) {
  .footer {
    &__container {
      padding-inline: 30px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    &__container {
      grid-template-columns: 505px auto auto;
      padding-left: 135px;
      column-gap: 30px;
    }

    &__introduction {
      padding-top: 89px;
      padding-left: unset;
    }

    &__information {
      @include flex-layout($justify: space-between, $gap: 30px);

      max-width: 304px;
      padding-top: 138px;
    }

    &__contact {
      padding-top: 138px;
      padding-left: 5px;
    }
  }
}

@media screen and (min-width: 1300px) {
  .footer__introduction {
    padding-left: 112px;
  }
}
