.header {
  @include setAbsoluteAndLocation(
    $absolute: true,
    $top: 0,
    $right: 0,
    $left: 0
  );

  max-width: 428px;
  margin: auto;
}

.header-container {
  @include flex-container(true, space-between, $align-items: center);

  position: relative;
  max-width: 428px;
  min-width: $min-width;
  padding: 24px;
  margin: auto;
}

.header-content {
  @include flex-container(true, space-between);
}

@media screen and (min-width: 840px) {
  .header {
    max-width: $max-width;
  }

  .header-container {
    padding-top: 32px;
    padding-left: 70px;
    padding-right: 61px;
    gap: 10px;
    max-width: 1309px;
  }

  .header-content {
    @include size(100%, auto);

    gap: 10px;
    max-width: 918px;
  }
}
