.nav-list {
  flex-direction: column;
  list-style: none;
  transition: 0.1s;
  position: fixed;
  border: 2px solid $primary-color;
  top: 0;
  right: -300px;
  margin-top: 105px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: $white;
}

.nav-download-btn {
  display: none;
}

.nav-item {
  font-size: $fs-xx-sm;
  padding: 14px;
  border-bottom: 1px solid $black;

  &:last-child {
    border-bottom: unset;
  }

  &:hover {
    background-color: $secondary-color;
  }
}

.nav-link {
  color: $black;
}

@media screen and (min-width: 840px) {
  .nav {
    width: 100%;
  }

  .nav-download-btn {
    display: block;

    &:hover {
      background-color: $secondary-color;
    }
  }

  .nav-list {
    position: unset;
    flex-direction: row;
    border: none;
    max-width: 600px;
    margin: unset;
  }

  .nav-item {
    border-bottom: none;
    padding: 0;

    &:hover {
      background-color: unset;
    }
  }

  .nav-link:hover {
    color: $secondary-color;
  }
}
