.nav {
  &__icon-menu {
    @include base-icon-menu;

    position: relative;
    cursor: pointer;
    top: -5px;

    &:before {
      @extend .line-icon-menu;

      top: -11px;
    }

    &:after {
      @extend .line-icon-menu;

      top: 11px;
    }
  }

  &__toggle-menu {
    @extend %absolute;
    @include size(36px, 27px);

    top: 37px;
    right: 21px;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
  }

  &__toggle-menu:checked ~ &__icon-menu {
    background: transparent;
  }

  &__toggle-menu:checked ~ &__icon-menu:before {
    top: 0;
    transform: rotate(-45deg);
  }

  &__toggle-menu:checked ~ &__icon-menu:after {
    top: 0;
    transform: rotate(45deg);
  }

  &__toggle-menu:checked ~ &__list {
    display: block;
  }

  &__list {
    @extend %absolute;
    @include size(max-content, auto);

    display: none;
    list-style: none;
    transition: 0.1s;
    border: 2px solid $primary-color;
    top: 100px;
    right: 25px;
    background-color: $white;
    z-index: 2;
    border-radius: 20px;
  }

  &__download-btn {
    display: none;

    z-index: 1;
  }

  &__item-wrapper {
    font-size: $fs-xx-sm;
    padding: 14px;
    border-bottom: 1px solid $black;

    &:last-child {
      border-bottom: unset;
    }
  }

  &__link {
    color: $black;
  }
}

@media screen and (min-width: 840px) {
  .nav {
    @include size(100%, auto);

    margin: auto;

    &__icon-menu,
    &__toggle-menu {
      display: none;
    }

    &__download-btn {
      display: block;

      &:hover {
        background-color: $secondary-color;
      }
    }

    &__list {
      @include size(auto, auto);
      @include flex-layout(
        $justify: space-between,
        $direction: row,
        $gap: 10px
      );

      display: flex;
      position: unset;
      border: none;
      max-width: 660px;
      margin: unset;
      background-color: transparent;
    }

    &__item-wrapper {
      border-bottom: none;
      padding: 0;
      text-align: center;
    }
  }
}
