.nav-list {
  @include size(max-content, auto);

  display: none;
  list-style: none;
  transition: 0.1s;
  position: absolute;
  border: 2px solid $primary-color;
  top: 100px;
  right: 25px;
  background-color: $white;
  z-index: 2;
}

.nav-download-btn {
  display: none;

  z-index: 1;
}

.nav-item {
  font-size: $fs-xx-sm;
  padding: 14px;
  border-bottom: 1px solid $black;

  &:last-child {
    border-bottom: unset;
  }

  &:hover {
    background-color: $secondary-color;
  }
}

.nav-link {
  color: $black;
}

@media screen and (min-width: 840px) {
  .nav {
    @include size(100%, auto);

    margin: auto;
  }

  .nav-download-btn {
    display: block;

    &:hover {
      background-color: $secondary-color;
    }
  }

  .nav-list {
    @include size(auto, auto);
    @include flex-container(space-between, column);

    position: unset;
    flex-direction: row;
    border: none;
    max-width: 600px;
    margin: unset;
  }

  .nav-item {
    border-bottom: none;
    padding: 0;

    &:hover {
      background-color: unset;
    }
  }

  .nav-link:hover {
    color: $secondary-color;
  }
}
