.offer {
  position: relative;
  max-width: 428px;
  margin-inline: auto;

  &__container {
    @include flex-container(
      true,
      $justify-content: center,
      $flex-direction: column
    );

    max-width: 380px;
    margin: auto;
    padding-top: 101px;
    position: relative;
  }

  &__dot-background {
    @include setAbsoluteAndLocation(true, $top: 168px, $left: 0px);

    display: none;
  }

  &__heading {
    font-size: $fs-x-lg;
    text-align: center;
    font-weight: 700;
  }

  &__description {
    font-size: $fs-md;
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
    color: $black;
    margin-top: 15px;
    max-width: 856px;
    margin-inline: auto;
  }

  &__card-list {
    display: grid;
    padding-top: 65px;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__card-item {
    @include flex-container(
      true,
      $align-items: center,
      $flex-direction: column
    );
    @include size(auto, 516px);

    position: relative;
  }

  &__food-image {
    @include setAbsoluteAndLocation(true, $top: 29px);

    margin: auto;
  }

  &__price {
    @include setAbsoluteAndLocation(true, $top: 176px, $right: 110px);
    @include size(52px, 52px);

    color: $white;
    border: 4px solid $white;
    border-radius: 50px;
    background-color: $secondary-color;
    font-size: $fs-md;
    text-align: center;
    line-height: 50px;
  }

  &__content-card {
    @include setAbsoluteAndLocation(true, $bottom: 60px);
    @include size(100%, auto);
    @include flex-container(
      true,
      $align-items: center,
      $flex-direction: column
    );
  }

  &__rate {
    @include flex-container(true, $align-items: center, $gap: 10px);
  }

  &__avatar-container {
    position: relative;
    @include size(74px, 38px);
  }

  &__avatar {
    &-1 {
      @include setAbsoluteAndLocation(true, $left: 38px);
      z-index: 2;
    }

    &-2 {
      @include setAbsoluteAndLocation(true, $left: 19px);
      z-index: 1;
    }

    &-3 {
      @include setAbsoluteAndLocation(true, $left: 0);
    }
  }

  &__food-name {
    margin-top: 30px;
    color: $primary-color;
    font-size: $fs-lg;
    font-weight: 600;
  }

  &__food-description {
    @include size(100%, auto);

    max-width: 243px;
    margin-top: 16px;
    text-align: center;
    text-transform: capitalize;
    color: $black;
  }

  &__order-btn {
    @include setAbsoluteAndLocation(true, $bottom: 0px);

    padding: 10px 20px;
    background-color: $primary-color;
    border-radius: 100px;
    color: $white;
    text-transform: capitalize;
  }

  &__rosemary-container {
    @include setAbsoluteAndLocation(true, $bottom: -120px, $right: 0);
    z-index: 0;
  }
}

@media screen and (min-width: 840px) {
  .offer {
    max-width: $max-width;

    &__container {
      max-width: $max-width;
    }

    &__food-image {
      @include setAbsoluteAndLocation($top: 29px, $right: 55px);
    }

    &__card-list {
      @include flex-container(
        true,
        $align-items: center,
        $gap: 18px,
        $justify-content: center
      );
      row-gap: 30px;
      flex-wrap: wrap;
    }

    &__price {
      @include setAbsoluteAndLocation($top: 176px, $right: 70px);
    }
  }
}

@media screen and (min-width: 1200px) {
  .offer__dot-background {
    display: block;
  }
}
