.offer {
  position: relative;
  max-width: 428px;
  margin-inline: auto;

  &__container {
    @extend %d-flex;
    @include flex-layout($justify: center, $direction: column);

    max-width: 380px;
    margin: auto;
    padding-top: 101px;
    position: relative;
  }

  &__dot-background {
    @extend %absolute;
    @include set-absolute-and-location($top: 168px, $left: 0px);

    display: none;
  }

  &__heading {
    font-size: $fs-xx-lg;
    text-align: center;
    font-weight: 700;
  }

  &__description {
    font-size: $fs-md;
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
    color: $black;
    margin-top: 15px;
    max-width: 856px;
    margin-inline: auto;
  }

  &__card-list {
    @extend %d-flex;
    @include flex-layout($wrap: nowrap, $gap: 70px);

    padding-inline: 35px;
    padding-top: 65px;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__rosemary-container {
    @extend %absolute;
    @include set-absolute-and-location($bottom: -120px, $right: 0);

    z-index: 0;
  }
}

@media screen and (min-width: 840px) {
  .offer {
    max-width: $max-width;

    &__container {
      max-width: $max-width;
    }

    &__card-list {
      @include flex-layout(
        $align: center,
        $justify: center,
        $wrap: wrap,
        $gap: 18px
      );

      row-gap: 30px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .offer__dot-background {
    display: block;
  }
}
