.platform {
  &__container {
    max-width: 428px;
    margin-inline: auto;
    padding-top: 26px;
    padding-bottom: 58px;

    background: linear-gradient(
      0,
      rgba(253, 197, 94, 0.15) 0%,
      rgba(253, 197, 94, 0.05) 50%,
      rgba(253, 197, 94, 0) 100%
    );
  }

  &__image-container {
    @include size(auto, 502px);

    position: relative;
    max-width: 100%;
    text-align: right;
  }

  &__main-image {
    @extend %absolute;
    @include set-location($top: 0, $left: 60px);
  }

  &__image-food:first-child {
    @extend %absolute;
    @include set-location($bottom: 54px, $right: 163px);

    z-index: 1;
  }

  &__image-food:nth-child(2) {
    @extend %absolute;
    @include set-location($bottom: 67px, $right: 118px);

    z-index: 1;
  }

  &__image-food:nth-child(3) {
    @extend %absolute;
    @include set-location($bottom: 92px, $right: 75px);

    z-index: 1;
  }

  &__image-food:nth-child(4) {
    @extend %absolute;
    @include set-location($bottom: 147px, $right: 45px);

    z-index: 1;
  }

  &__content {
    padding-top: 46px;
    padding-left: 25px;
  }

  &__heading {
    font-size: $fs-xx-lg;
    font-weight: 700;
    max-width: 371px;
  }

  &__description {
    color: $black;
    margin-top: 31px;
    max-width: 366px;
  }

  &__store-container {
    @extend %d-flex;
    @include flex-layout($gap: 27px);

    margin-top: 43px;
  }
}

@media screen and (min-width: 600px) {
  .platform {
    &__container {
      max-width: $max-width;
    }

    &__image-container {
      width: fit-content;
      margin-inline: auto;
    }

    &__main-image {
      @include set-location($top: 0, $left: 28px);
    }

    &__heading,
    &__description {
      max-width: unset;
    }
  }
}

@media screen and (min-width: 840px) {
  .platform {
    &__container {
      @include flex-layout(
        $direction: row-reverse,
        $align: center,
        $justify: space-between
      );

      // width: 100%;
      display: flex;
      padding-top: 50px;
    }

    &__image-container {
      margin-inline: unset;
    }

    &__main-image {
      @include set-location($top: 0, $right: 58px, $left: unset);
    }

    &__image-food:first-child {
      @include set-location($bottom: 53px, $right: 160px);
    }

    &__image-food:nth-child(2) {
      @include set-location($bottom: 68px, $right: 117px);
    }

    &__image-food:nth-child(3) {
      @include set-location($bottom: 90px, $right: 70px);
    }

    &__image-food:nth-child(4) {
      @include set-location($bottom: 145px, $right: 43px);
    }

    &__heading {
      max-width: 643px;
    }

    &__description {
      max-width: 550px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .platform {
    &__container {
      @include flex-layout($justify: space-between);

      display: flex;
      padding-top: 122px;
    }

    &__image-container {
      @include size(auto, 632px);

      padding-top: 20px;
      text-align: right;
    }

    &__main-image {
      @include set-location($top: 20px, $right: 107px);
    }

    &__image-food:first-child {
      @include set-location($bottom: -70px, $right: 270px);
    }

    &__image-food:nth-child(2) {
      @include set-location($bottom: -40px, $right: 190px);
    }

    &__image-food:nth-child(3) {
      @include set-location($bottom: 0px, $right: 130px);
    }

    &__image-food:nth-child(4) {
      @include set-location($bottom: 70px, $right: 89px);
    }

    &__content {
      padding-top: 33px;
    }

    &__heading,
    &__description,
    &__store-container {
      padding-left: 45px;
    }

    &__description {
      margin-top: 58px;
    }
  }
}
