doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./sass/main.scss")
    title Food Hut
  body
    header.header
      .logo-wrapper 
        a(href="javascript:void(0)") 
          img(src="./assets/images/Logo.png", alt="Logo image").logo
      .header-content
        nav.nav
          input(type="checkbox").toggle-menu
          .icon-menu 
          ul.nav-list
            li.nav-item 
              a(href="javascrip:void(0)").nav-link Today Special Offers
            li.nav-item 
              a(href="javascrip:void(0)").nav-link Why FoodHut
            li.nav-item 
              a(href="javascrip:void(0)").nav-link Our Menu
            li.nav-item 
              a(href="javascrip:void(0)").nav-link Our Popular Food
        a(href="javascript:void(0)").btn Download App
      