doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./sass/main.scss")
    title Food Hut
  body
    header.header
      .logo-wrapper 
        img(src="./assets/images/Logo.png", alt="Logo image").logo
      .header-content
        nav.nav
          input(type="checkbox").toggle-menu
          .icon-menu 
          ul.nav-list
            li.nav-item Today Special Offers 
            li.nav-item Why FoodHut
            li.nav-item Our Menu 
            li.nav-item Our Popular Food
        a(href="javascript:void(0)").btn Download App
      