doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./styles/main.scss")
    title Food Hut
  body
    header.header
      .logo-wrapper
        a.logo-link(href="javascript:void(0)")
          img.logo(src="./assets/images/logo.svg", alt="Food Hut logo")
      .header-content
        include nav-menu
