nav.nav
  input.toggle-menu(type="checkbox")
  .icon-menu
  ul.nav-list
    each val in ["Today Special Offers","Why FoodHut","Our Menu","Our Popular Food"]
      li.nav-item
        a.nav-link(href="javascrip:void(0)")= val
a.btn(href="javascript:void(0)") Download App
