- var list = ["Today Special Offers", "Why FoodHut", "Our Menu", "Our Popular Food"];

header.header
  .header__container
    .header__logo-wrapper
      a.header__logo-link(href="javascript:void(0)")
        picture
          source(
            media="(min-width: 840px)",
            srcset="./assets/images/logo-desktop.png"
          )
          img.logo(src="./assets/images/logo-mobile.png", alt="Food Hut logo")
    .header__content
      nav.nav
        input.nav__toggle-menu(type="checkbox")
        .nav__icon-menu
        ul.nav__list
          each val in list
            li.nav__item-wrapper
              a.nav__link.link-text(href="javascript:void(0)")= val
      a.btn.nav__download-btn(href="javascript:void(0)") Download App
